.playerFormContainer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    padding: 20px;
    z-index: 1;
}

.playerForm {
    align-self: flex-end;
}

.nameLabel {
    display: block;
    margin-bottom: 10px;
    text-align: right;
}

.balanceLabel {
    display: block;
    margin-bottom: 10px;
    text-align: right;
}

.playerInput {
    margin-left: 10px;
}

.addPlayerButton {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
}

.addPlayerButton:hover {
    background-color: #f1f1f1;
}

.formButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.saveButton {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeButton {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.saveButton:hover {
    background-color: #0056b3;
}

.playerList {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-start;
}

.playerName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}

.player {
    text-align: right;
}
.playerBalance {
    font-size: 12px;
    margin-bottom: 2px;
}

.playerDelete {
    background-color: #f44336; /* Red */
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.current-player {
    background-color: #838080;
    width: 150px;
    border-radius: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    /* glassmorphism */
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}